.Rproj.user
.Rhistory
.DS_Store
data/*.txt
data/*.csv
data/temp*/*.txt
benchmark/datax.zip
test.html
textprediction.html
README.html
*_cache
*_files
shinytextpredict/slides.md
shinytextpredict/slides-rpubs.html
shinytextpredict/slides-figure/
