.Rproj.user
.Rhistory
.DS_Store
data/*.txt
data/*.csv
data/temp*/*.txt
benchmark/datax.zip
benchmark/data/*
test.html
textprediction.html
README.html
*_cache
*_files
presentation/slides.md
presentation/slides-rpubs.html
shinytextpredict/myfile.txt
*.swp

